<div class="modal fade" id="fileUploadModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">DataSet</h4>
        </div>
        
        <div class="modal-body" style="display:table;width:100%;">
            <form class="form-horizontal col-md-12">
              
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Name</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div>
                                <input type="text" class="form-control dummyDataSetName" placeholder="Please add Dataset name" value="{{name}}"/>
                            </div>                                            
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Description</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div>
                                <input type="text" class="form-control dummyDataSetDescription" placeholder="Please add Dataset Description" value="{{description}}"/>
                            </div>                                            
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Data File</label>
                        {{#ifCond fileName '==' '' }}
                        <div class="col-md-8 col-xs-12 dummyFileUploadCont">
                            <input id="datasetFile" type="file" class="file-loading">
                            <div id="errorBlock" class="help-block"></div>             
                            <span class="help-block">Upload data .csv file.</span>
                            <span class="help-block">File headers must not contain cannot contain dots (i.e. .) and must not start with a dollar sign (i.e. $)</span>
                        </div>
                        <div class="col-md-6 col-xs-12 dummyFileSuccessCont" style="display:none">
                            <span class="help-block">Upload Sucess:<span class="dummyFileNameText"></span></span>
                            <span class="help-block">Click process file.</span>
                        </div>
                        {{else}}
                        <div class="col-md-6 col-xs-12">
                            <span class="help-block">{{fileName}}</span>
                        </div>
                        {{/ifCond}}
                    </div>
                
            
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {{#ifCond state '==' 3}}
            <button type="button" class="btn btn-primary" data-dismiss="modal">File Processsing in Progress</button>
          {{else}}
            <button type="button" class="btn btn-primary dummyFileProcessCont dummyProcessFileButton">Process File</button>
           {{/ifCond}} 
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>